In [1]:
import numpy as np
import pandas as pd

In [2]:
movies=pd.read_csv("TMDB_movie_dataset_v11 (1).csv")

In [3]:
movies.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1257580 entries, 0 to 1257579
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1257580 non-null  int64
 1   title                 1257567 non-null  object
 2   vote_average          1257580 non-null  float64
 3   vote_count            1257580 non-null  int64
 4   status                1257580 non-null  object
 5   release_date          1017121 non-null  object
 6   revenue               1257580 non-null  int64
 7   runtime               1257580 non-null  int64
 8   adult                 1257580 non-null  bool
 9   backdrop_path         324645 non-null   object
 10  budget                1257580 non-null  int64
 11  homepage              131245 non-null   object
 12  imdb_id               631036 non-null   object
 13  original_language     1257580 non-null  object
 14  original_title        1257567 non-null  object
 15  overview              985720 non-null   object
 16  popularity            1257580 non-null  float64
 17  poster_path           837662 non-null   object
 18  tagline               176132 non-null   object
 19  genres                729444 non-null   object
 20  production_companies  552960 non-null   object
 21  production_countries  674906 non-null   object
 22  spoken_languages      697938 non-null   object
 23  keywords              326316 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 221.9+ MB

In [5]:
movies.isnull().sum()

id                            0
title                        13
vote_average                  0
vote_count                    0
status                        0
release_date             240459
revenue                       0
runtime                       0
adult                         0
backdrop_path            932935
budget                        0
homepage                1126335
imdb_id                  626544
original_language             0
original_title               13
overview                 271860
popularity                    0
poster_path              419918
tagline                 1081448
genres                   528136
production_companies     704620
production_countries     582674
spoken_languages         559642
keywords                 931264
dtype: int64

In [9]:
movies = movies[movies['adult'] != True].copy()

In [12]:
movies=movies[["id", "title", "overview", "genres", "keywords", "popularity", "vote_average","poster_path","imdb_id"]].copy() # copy because modifications are easy, like drop na requires permissions for this to work

In [13]:
movies.head()

,id,title,overview,genres,keywords,popularity,vote_average,poster_path,imdb_id
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...","Action, Science Fiction, Adventure","rescue, mission, dream, airplane, paris, franc...",83.952,8.364,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,tt1375666
1,157336,Interstellar,The adventures of a group of explorers who mak...,"Adventure, Drama, Science Fiction","rescue, future, spacecraft, race against time,...",140.241,8.417,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,tt0816692
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"Drama, Action, Crime, Thriller","joker, sadism, chaos, secret identity, crime f...",130.643,8.512,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,tt0468569
3,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","Action, Adventure, Fantasy, Science Fiction","future, society, culture clash, space travel, ...",79.932,7.573,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,tt0499549
4,24428,The Avengers,When an unexpected enemy emerges and threatens...,"Science Fiction, Action, Adventure","new york city, superhero, shield, based on com...",98.082,7.710,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,tt0848228

In [14]:
movies.isnull().sum()

id                   0
title               12
overview        245103
genres          419757
keywords        855990
popularity           0
vote_average         0
poster_path     399118
imdb_id         532943
dtype: int64

In [15]:
movies.dropna(inplace=True)

In [16]:
movies.shape

(157385, 9)

In [17]:
movies.duplicated().sum()

np.int64(7)

In [18]:
movies.drop_duplicates(inplace=True)

In [19]:
type(movies["genres"][0])

str

In [20]:
# Sort by popularity and select top 5000
movies = movies.sort_values(by="popularity", ascending=False).head(5000)

In [21]:
movies.head()

,id,title,overview,genres,keywords,popularity,vote_average,poster_path,imdb_id
3871,565770,Blue Beetle,Recent college grad Jaime Reyes returns home f...,"Action, Science Fiction, Adventure","armor, superhero, family relationships, family...",2994.357,7.139,/mXLOHHc1Zeuwsl4xYKjKh2280oL.jpg,tt9362930
5049,980489,Gran Turismo,The ultimate wish-fulfillment tale of a teenag...,"Action, Drama, Adventure","based on true story, racing, based on video ga...",2680.593,8.068,/51tqzRtKMMZEYUpSYkrUE7v9ehm.jpg,tt4495098
7929,968051,The Nun II,"In 1956 France, a priest is violently murdered...","Horror, Mystery, Thriller","france, bullying, sequel, religion, demon, got...",1692.778,6.545,/c9kVD7W8CT5xe4O3hQ7bFWwk68U.jpg,tt10160976
2130,615656,Meg 2: The Trench,An exploratory dive into the deepest depths of...,"Action, Science Fiction, Horror","based on novel or book, sequel, shark, kaiju, ...",1567.273,6.912,/4m1Au3YkjqsxF8iwQy0fPYSxE0h.jpg,tt9224104
9957,762430,Retribution,When a mysterious caller puts a bomb under his...,"Action, Mystery, Thriller, Crime","assassination, bomb, remake, divorce, duringcr...",1547.220,6.816,/oUmmY7QWWn7OhKlcPOnirHJpP1F.jpg,tt6906292

In [22]:
movies["overview"]=movies["overview"].apply(lambda x : x.split())

In [23]:
movies.head()

,id,title,overview,genres,keywords,popularity,vote_average,poster_path,imdb_id
3871,565770,Blue Beetle,"[Recent, college, grad, Jaime, Reyes, returns,...","Action, Science Fiction, Adventure","armor, superhero, family relationships, family...",2994.357,7.139,/mXLOHHc1Zeuwsl4xYKjKh2280oL.jpg,tt9362930
5049,980489,Gran Turismo,"[The, ultimate, wish-fulfillment, tale, of, a,...","Action, Drama, Adventure","based on true story, racing, based on video ga...",2680.593,8.068,/51tqzRtKMMZEYUpSYkrUE7v9ehm.jpg,tt4495098
7929,968051,The Nun II,"[In, 1956, France,, a, priest, is, violently, ...","Horror, Mystery, Thriller","france, bullying, sequel, religion, demon, got...",1692.778,6.545,/c9kVD7W8CT5xe4O3hQ7bFWwk68U.jpg,tt10160976
2130,615656,Meg 2: The Trench,"[An, exploratory, dive, into, the, deepest, de...","Action, Science Fiction, Horror","based on novel or book, sequel, shark, kaiju, ...",1567.273,6.912,/4m1Au3YkjqsxF8iwQy0fPYSxE0h.jpg,tt9224104
9957,762430,Retribution,"[When, a, mysterious, caller, puts, a, bomb, u...","Action, Mystery, Thriller, Crime","assassination, bomb, remake, divorce, duringcr...",1547.220,6.816,/oUmmY7QWWn7OhKlcPOnirHJpP1F.jpg,tt6906292

In [24]:
import ast

In [25]:
movies["genres"] = movies["genres"].apply(lambda x: [g.strip() for g in x.split(",")]) # splitted and removes spaces

In [26]:
movies["keywords"] = movies["keywords"].apply(lambda x: [g.strip() for g in x.split(",")]) # splitted and removes spaces

In [27]:
movies.head()

,id,title,overview,genres,keywords,popularity,vote_average,poster_path,imdb_id
3871,565770,Blue Beetle,"[Recent, college, grad, Jaime, Reyes, returns,...","[Action, Science Fiction, Adventure]","[armor, superhero, family relationships, famil...",2994.357,7.139,/mXLOHHc1Zeuwsl4xYKjKh2280oL.jpg,tt9362930
5049,980489,Gran Turismo,"[The, ultimate, wish-fulfillment, tale, of, a,...","[Action, Drama, Adventure]","[based on true story, racing, based on video g...",2680.593,8.068,/51tqzRtKMMZEYUpSYkrUE7v9ehm.jpg,tt4495098
7929,968051,The Nun II,"[In, 1956, France,, a, priest, is, violently, ...","[Horror, Mystery, Thriller]","[france, bullying, sequel, religion, demon, go...",1692.778,6.545,/c9kVD7W8CT5xe4O3hQ7bFWwk68U.jpg,tt10160976
2130,615656,Meg 2: The Trench,"[An, exploratory, dive, into, the, deepest, de...","[Action, Science Fiction, Horror]","[based on novel or book, sequel, shark, kaiju,...",1567.273,6.912,/4m1Au3YkjqsxF8iwQy0fPYSxE0h.jpg,tt9224104
9957,762430,Retribution,"[When, a, mysterious, caller, puts, a, bomb, u...","[Action, Mystery, Thriller, Crime]","[assassination, bomb, remake, divorce, duringc...",1547.220,6.816,/oUmmY7QWWn7OhKlcPOnirHJpP1F.jpg,tt6906292

In [28]:
movie=movies.copy()

In [29]:
movie["genres"]=movie["genres"].apply(lambda x:[ i.replace(" ","") for i in x]) #applied list comprehension
movie["keywords"]=movie["keywords"].apply(lambda x:[ i.replace(" ","") for i in x]) #applied list comprehension

In [30]:
movie

,id,title,overview,genres,keywords,popularity,vote_average,poster_path,imdb_id
3871,565770,Blue Beetle,"[Recent, college, grad, Jaime, Reyes, returns,...","[Action, ScienceFiction, Adventure]","[armor, superhero, familyrelationships, family...",2994.357,7.139,/mXLOHHc1Zeuwsl4xYKjKh2280oL.jpg,tt9362930
5049,980489,Gran Turismo,"[The, ultimate, wish-fulfillment, tale, of, a,...","[Action, Drama, Adventure]","[basedontruestory, racing, basedonvideogame, d...",2680.593,8.068,/51tqzRtKMMZEYUpSYkrUE7v9ehm.jpg,tt4495098
7929,968051,The Nun II,"[In, 1956, France,, a, priest, is, violently, ...","[Horror, Mystery, Thriller]","[france, bullying, sequel, religion, demon, go...",1692.778,6.545,/c9kVD7W8CT5xe4O3hQ7bFWwk68U.jpg,tt10160976
2130,615656,Meg 2: The Trench,"[An, exploratory, dive, into, the, deepest, de...","[Action, ScienceFiction, Horror]","[basedonnovelorbook, sequel, shark, kaiju, civ...",1567.273,6.912,/4m1Au3YkjqsxF8iwQy0fPYSxE0h.jpg,tt9224104
9957,762430,Retribution,"[When, a, mysterious, caller, puts, a, bomb, u...","[Action, Mystery, Thriller, Crime]","[assassination, bomb, remake, divorce, duringc...",1547.220,6.816,/oUmmY7QWWn7OhKlcPOnirHJpP1F.jpg,tt6906292
...,...,...,...,...,...,...,...,...,...
2591,1648,Bill & Ted's Excellent Adventure,"[Bill, and, Ted, are, high, school, buddies, s...","[Adventure, Comedy, ScienceFiction]","[jealousy, schoolpresentation, journeyinthepas...",18.022,6.858,/tV25lGWGWGEqUe3U0xjQTBgilSx.jpg,tt0096928
3308,4688,Across the Universe,"[When, young, dockworker, Jude, leaves, Liverp...","[Drama, Romance, Fantasy]","[vietnamwar, protest, musical, liverpool, engl...",18.019,7.132,/447c8Te3DXC46rQvDEixKGO4dS6.jpg,tt0445922
2088,10376,The Legend of 1900,"[The, story, of, a, virtuoso, piano, player, w...","[Drama, Music, Romance]","[ship, ocean, musical, pianistin, childprodigy...",18.018,8.265,/iOcbJ5pxokOPDRgieVDbsFMrCc6.jpg,tt0120731
3912,11000,The Birdcage,"[A, gay, cabaret, owner, and, his, drag, queen...",[Comedy],"[comingout, florida, homophobia, dragqueen, ni...",18.018,7.029,/4IpC35BoA5aRO0Q1DpFGJ8iKKYq.jpg,tt0115685
2265,384682,Office Christmas Party,"[When, Carol, Vanstone,, CEO, of, the, technol...",[Comedy],"[chicago, illinois, holiday, christmasparty, c...",18.016,5.652,/7r3w3cPTbNEIr1imb8zXyeIJCJe.jpg,tt1711525

In [31]:
movie["tag"]=movie["genres"]+movie["keywords"]

In [32]:
movie=movie[["id", "title", "tag", "poster_path", "vote_average", "imdb_id","popularity","genres"]]

In [33]:
movie.head()

,id,title,tag,poster_path,vote_average,imdb_id,popularity,genres
3871,565770,Blue Beetle,"[Action, ScienceFiction, Adventure, armor, sup...",/mXLOHHc1Zeuwsl4xYKjKh2280oL.jpg,7.139,tt9362930,2994.357,"[Action, ScienceFiction, Adventure]"
5049,980489,Gran Turismo,"[Action, Drama, Adventure, basedontruestory, r...",/51tqzRtKMMZEYUpSYkrUE7v9ehm.jpg,8.068,tt4495098,2680.593,"[Action, Drama, Adventure]"
7929,968051,The Nun II,"[Horror, Mystery, Thriller, france, bullying, ...",/c9kVD7W8CT5xe4O3hQ7bFWwk68U.jpg,6.545,tt10160976,1692.778,"[Horror, Mystery, Thriller]"
2130,615656,Meg 2: The Trench,"[Action, ScienceFiction, Horror, basedonnovelo...",/4m1Au3YkjqsxF8iwQy0fPYSxE0h.jpg,6.912,tt9224104,1567.273,"[Action, ScienceFiction, Horror]"
9957,762430,Retribution,"[Action, Mystery, Thriller, Crime, assassinati...",/oUmmY7QWWn7OhKlcPOnirHJpP1F.jpg,6.816,tt6906292,1547.220,"[Action, Mystery, Thriller, Crime]"

In [34]:
movie["tag"]=movie["tag"].apply(lambda x:" ".join(x))

C:\Users\Satvik\AppData\Local\Temp\ipykernel_37368\130120359.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie["tag"]=movie["tag"].apply(lambda x:" ".join(x))

In [35]:
movie.head()

,id,title,tag,poster_path,vote_average,imdb_id,popularity,genres
3871,565770,Blue Beetle,Action ScienceFiction Adventure armor superher...,/mXLOHHc1Zeuwsl4xYKjKh2280oL.jpg,7.139,tt9362930,2994.357,"[Action, ScienceFiction, Adventure]"
5049,980489,Gran Turismo,Action Drama Adventure basedontruestory racing...,/51tqzRtKMMZEYUpSYkrUE7v9ehm.jpg,8.068,tt4495098,2680.593,"[Action, Drama, Adventure]"
7929,968051,The Nun II,Horror Mystery Thriller france bullying sequel...,/c9kVD7W8CT5xe4O3hQ7bFWwk68U.jpg,6.545,tt10160976,1692.778,"[Horror, Mystery, Thriller]"
2130,615656,Meg 2: The Trench,Action ScienceFiction Horror basedonnovelorboo...,/4m1Au3YkjqsxF8iwQy0fPYSxE0h.jpg,6.912,tt9224104,1567.273,"[Action, ScienceFiction, Horror]"
9957,762430,Retribution,Action Mystery Thriller Crime assassination bo...,/oUmmY7QWWn7OhKlcPOnirHJpP1F.jpg,6.816,tt6906292,1547.220,"[Action, Mystery, Thriller, Crime]"

In [36]:
movie["tag"]=movie["tag"].apply(lambda x:x.lower())

C:\Users\Satvik\AppData\Local\Temp\ipykernel_37368\3439770998.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie["tag"]=movie["tag"].apply(lambda x:x.lower())

In [37]:
import nltk

In [38]:
from nltk.stem.porter import PorterStemmer # this is to remove all faltu words, like loving loved lover will stem to love
ps=PorterStemmer()

In [39]:
def stemmin(text):
    op=[]
    for i in text.split():
        op.append(ps.stem(i))
    return " ".join(op)

In [40]:
movie["tag"]=movie["tag"].apply(stemmin)

C:\Users\Satvik\AppData\Local\Temp\ipykernel_37368\4009771539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie["tag"]=movie["tag"].apply(stemmin)

In [41]:
#extracting top 5000 common words from all tags combined, will remove english basic words
#hr movie me kitne words aate finding that now

In [42]:
#from sklearn.metrics.pairwise import cosine_similarity

In [43]:
#similar=cosine_similarity(vectors)

In [44]:
'''def recommend(movier):
    final=[]
    movie_index=movie[movie['title'] == movier].index[0]
    distances=similar[movie_index]
    movie_list=sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:20]

    for i in movie_list:
        final.append(movie.iloc[i[0]]["title"])
    return final'''

'def recommend(movier):\n    final=[]\n    movie_index=movie[movie[\'title\'] == movier].index[0]\n    distances=similar[movie_index]\n    movie_list=sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:20]\n\n    for i in movie_list:\n        final.append(movie.iloc[i[0]]["title"])\n    return final'

In [45]:
#recommend("Cars")

In [46]:
def title_based(movier):
    movier = movier.lower()
    matches = movie[movie['title'].str.lower().str.contains(movier)]
    if not matches.empty:
        return matches['title'].tolist()
    return []

In [50]:
from sklearn.neighbors import NearestNeighbors
from sklearn.feature_extraction.text import TfidfVectorizer
cv = TfidfVectorizer(max_features=5000, stop_words="english")#finds top 5000 most relevant words
vectors = cv.fit_transform(movie['tag']).toarray() # Converts each movie's tag text into a vector of weights based on word importance.


# Initialize this ONCE at startup (global scope)
nn = NearestNeighbors(metric='cosine', algorithm='auto').fit(vectors)  # or metric='euclidean' etc.
vectorized_movie = movie.iloc[:len(vectors)].reset_index(drop=True)

# Keep your original function exactly as-is
def hybrid_recommender(movier, total_recs=20):
    movier = movier.lower()
    title_matches = vectorized_movie[vectorized_movie['title'].str.lower().str.contains(movier)]
    title_list = title_matches['title'].tolist()

    if not vectorized_movie['title'].str.lower().eq(movier).any():
        return ["Movie not found."]

    movie_index = vectorized_movie[vectorized_movie['title'].str.lower() == movier].index[0]
    distances, indices = nn.kneighbors(vectors[movie_index].reshape(1, -1), n_neighbors=total_recs + 1)
    tag_matches = [vectorized_movie.iloc[i]["title"] for i in indices[0][1:] if vectorized_movie.iloc[i]["title"] not in title_list]

    return (title_list[:8] + tag_matches)[:total_recs]

In [51]:
hybrid_recommender("Cars")

['What the Waters Left Behind: Scars',
 'Cars 2',
 'Cars 3',
 'Cars',
 'Gifted Hands: The Ben Carson Story',
 "Carson Bigbee: The Pirate of America's Pastime",
 'Riding in Cars with Boys',
 'Tom and Jerry: The Fast and the Furry',
 'Snoopy Presents: One-of-a-Kind Marcie',
 'Alvin and the Chipmunks: The Road Chip',
 'Cats & Dogs: The Revenge of Kitty Galore',
 'Speed Racer',
 'Jack and Jill',
 'Dumb and Dumber To',
 'Me, Myself & Irene',
 'The Portable Door',
 'Tom & Jerry',
 'The Lost City',
 'The Simpsons: The Good, the Bart, and the Loki',
 'Woody Woodpecker']

In [52]:
title_based("Cars")

['What the Waters Left Behind: Scars',
 'Cars 2',
 'Cars 3',
 'Cars',
 'Gifted Hands: The Ben Carson Story',
 "Carson Bigbee: The Pirate of America's Pastime",
 'Riding in Cars with Boys']

In [53]:
def filter_by_genre(genre, top_n=20):
    genre = genre.lower()
    genre_str = movies['genres'].astype(str).str.lower()
    filtered = movies[genre_str.str.contains(genre)]
    results = filtered.sort_values(by='popularity', ascending=False).head(top_n)
    return results[['title', 'genres', 'popularity', 'vote_average',"poster_path"]]

In [54]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 3871 to 2265
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            5000 non-null   int64
 1   title         5000 non-null   object
 2   overview      5000 non-null   object
 3   genres        5000 non-null   object
 4   keywords      5000 non-null   object
 5   popularity    5000 non-null   float64
 6   vote_average  5000 non-null   float64
 7   poster_path   5000 non-null   object
 8   imdb_id       5000 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 390.6+ KB

In [55]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 3871 to 2265
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            5000 non-null   int64
 1   title         5000 non-null   object
 2   tag           5000 non-null   object
 3   poster_path   5000 non-null   object
 4   vote_average  5000 non-null   float64
 5   imdb_id       5000 non-null   object
 6   popularity    5000 non-null   float64
 7   genres        5000 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 351.6+ KB

In [56]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 3871 to 2265
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            5000 non-null   int64
 1   title         5000 non-null   object
 2   tag           5000 non-null   object
 3   poster_path   5000 non-null   object
 4   vote_average  5000 non-null   float64
 5   imdb_id       5000 non-null   object
 6   popularity    5000 non-null   float64
 7   genres        5000 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 351.6+ KB

In [59]:
import pickle

with open("movie_data_new.pkl", "wb") as f:
    pickle.dump(movie.to_dict(), f)

In [58]:
movies.head()

,id,title,overview,genres,keywords,popularity,vote_average,poster_path,imdb_id
3871,565770,Blue Beetle,"[Recent, college, grad, Jaime, Reyes, returns,...","[Action, Science Fiction, Adventure]","[armor, superhero, family relationships, famil...",2994.357,7.139,/mXLOHHc1Zeuwsl4xYKjKh2280oL.jpg,tt9362930
5049,980489,Gran Turismo,"[The, ultimate, wish-fulfillment, tale, of, a,...","[Action, Drama, Adventure]","[based on true story, racing, based on video g...",2680.593,8.068,/51tqzRtKMMZEYUpSYkrUE7v9ehm.jpg,tt4495098
7929,968051,The Nun II,"[In, 1956, France,, a, priest, is, violently, ...","[Horror, Mystery, Thriller]","[france, bullying, sequel, religion, demon, go...",1692.778,6.545,/c9kVD7W8CT5xe4O3hQ7bFWwk68U.jpg,tt10160976
2130,615656,Meg 2: The Trench,"[An, exploratory, dive, into, the, deepest, de...","[Action, Science Fiction, Horror]","[based on novel or book, sequel, shark, kaiju,...",1567.273,6.912,/4m1Au3YkjqsxF8iwQy0fPYSxE0h.jpg,tt9224104
9957,762430,Retribution,"[When, a, mysterious, caller, puts, a, bomb, u...","[Action, Mystery, Thriller, Crime]","[assassination, bomb, remake, divorce, duringc...",1547.220,6.816,/oUmmY7QWWn7OhKlcPOnirHJpP1F.jpg,tt6906292

In [1]:
vectors.shape

NameError: name 'vectors' is not defined